@use "src/functions.scss" as functions;

:host {
  display: block;
}

form {
  @include functions.flexbox($flex-direction: column);

  mat-form-field {
    width: clamp(250px, 70%, 500px);
  }

  .alternative-links {
    @include functions.flexbox(
      $justify-content: space-between,
      $flex-wrap: wrap
    );
    margin: 1em 0 1em 0;

    & a {
      color: functions.get-theme-color("primary");
      padding: 0em 0.5em;
      cursor: pointer;
      border-right: solid 1px
        functions.adjust-color(functions.get-theme-background(), "l", 10%);

      &:last-child {
        border-right: none;
      }

      &:hover {
        color: functions.adjust-color(
          functions.get-theme-color("primary"),
          "l",
          10%
        );
      }
    }
  }
}
