@use "src/functions.scss" as functions;

.mat-app-background {
  background-color: #202020;
}

// Table

#planner {
  padding: 2em 1em;
}

.workout-title {
  margin: 1em 0;
}

.header {
  @include functions.flexbox($flex-direction: column, $align-items: center);
}

.logo {
  width: 200px;
  margin: 0 auto;
}

.title,
.planner-title,
.about-table {
  text-align: center;
  margin: 1em 0;
}

#table {
  table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: clamp(300px, 100%, 900px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    @media (max-width: 500px) {
      & {
        font-size: 0.7em;
      }
    }

    thead tr {
      $background-color: functions.get-theme-background();
      background-color: functions.adjust-color($background-color, "l", 8%);

      color: #ffffff;
      text-align: left;
    }

    th,
    td {
      padding: 12px 15px;
      text-align: center;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
      $background-color: functions.get-theme-background();
      background-color: functions.adjust-color($background-color, "l", 12%);
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid functions.get-theme-color("primary");
    }

    tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
  }
}

.workouts {
  width: clamp(300px, 100%, 900px);
  margin: 0 auto;

  .workout {
    .video {
      width: clamp(300px, 100%, 600px);
      height: clamp(200px, 100%, 400px);
      margin: 1em auto;

      mat-expansion-panel {
        $background-color: black;
        background-color: functions.adjust-color($background-color, "l", 8%);
      }

      .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        /* Then style the iframe to fit in the container div with full height and width */
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.mat-expansion-panel {
  background-color: black;
}

.mat-expansion-panel-header {
  height: auto;
  padding: 1em 1.5em;
}

.mat-expanded {
  // background-color: functions.adjust-color($background-color, "l", 12%);

  $background-color: black;
  background-color: functions.adjust-color($background-color, "l", 20%);

  @include functions.get-elevator(4);
}

.mat-expansion-panel-spacing {
  margin: 0.4em 0;
}

.offline {
  margin: 1em auto;
  @include functions.flexbox();

  & > * {
    margin: 1em 0.5em;
  }
}

.mat-expansion-panel-body {
  padding: 1em;
}

.p-spacer {
  margin-top: 1em;
}

.single-exercise {
  &.mat-expanded {
    $background-color: black;
    background-color: functions.adjust-color($background-color, "l", 25%);
  }
}
