@use "src/functions.scss" as functions;

:host {
  @include functions.flexbox($flex-direction: column, $justify-content: center);
  padding: 2em;
}

.master {
  box-sizing: border-box;
  padding: 1.5em;
  width: clamp(300px, 95%, 1200px);
  min-width: 200px;
  position: relative;

  @include functions.flexbox($flex-direction: column, $justify-content: center);

  border-radius: 6px;
  $background-color: functions.get-theme-background();
  background-color: functions.adjust-color($background-color, "l", 5%);

  form {
    box-sizing: border-box;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  .submit-col {
    @include functions.flexbox(
      $flex-direction: row,
      $justify-content: flex-end
    );
    .submit-btn {
      text-align: center;
    }
  }
}

.help-btn {
  margin-left: 0.5em;
  display: none;

  &.show {
    display: block;
  }
}
