@use "../../../functions.scss" as functions;

:host {
  $color: functions.get-theme-color("primary", "main");
  background-color: rgba($color, 0.025);
  height: 100%; // Aplicando 20% de opacidade
  // min-height: 100vh;
}

#planner-v2 {
  color: #000;
  max-width: 100vw;
  overflow: hidden;
  margin: 0 auto;

  padding: 1em;
  min-height: 100vh;
  position: relative;

  $color: functions.get-theme-color("primary", "main");
  // background-color: rgba($color, 0.025); // Aplicando 20% de opacidade

  .logo {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    text-align: center;

    h3 {
      margin: 0;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin: 0.5em 0;
      color: var(--primary-color);
    }
  }

  .about-table {
    text-align: center;
    width: 80%;
    line-height: 1.3;

    margin: 1em auto;
  }

  .back-card {
    @include functions.flexbox(
      $justify-content: space-between,
      $align-items: center
    );

    // $color: functions.get-theme-color("accent", "main");
    background-color: black; // Aplicando 20% de opacidade    width: 80%;
    color: white;
    padding: 0.5em 1em;
    border-radius: 12px;
    margin-bottom: 1.5em;
    position: relative;
    margin: auto;
    width: 80%;

    padding: 0.5em;
    // background-color: var(--accent-color);

    .info {
      flex: 1;
      margin: 0;
      font-weight: 400;
      font-size: 0.9em;
    }

    cursor: pointer;
    user-select: none; /* Standard syntax */
  }

  .cards {
    @include functions.flexbox(
      $flex-direction: column,
      $justify-content: center,
      $align-items: center
    );

    margin: 1em 0;
    width: 100%;

    .card {
      @include functions.flexbox(
        $justify-content: space-between,
        $align-items: center
      );
      user-select: none; /* Standard syntax */

      background-color: white;
      width: 80%;
      padding: 2.5em 1em;
      border-radius: 8px;
      margin-bottom: 1.5em;
      position: relative;

      .text {
        font-weight: 500;
        font-size: 1.2em;
      }
    }
  }

  .offline {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  #planner-v2 {
    max-width: 600px;
  }
}
