@use "../functions.scss" as functions;

main {
  @include functions.flexbox();
  min-width: 100vw;
  min-height: 100vh;

  .drawer-container {
    width: 100%;
    min-height: 100%;

    mat-drawer {
      height: 100%;

      .side-menu {
        min-width: 230px;
      }
    }
    mat-drawer-content {
      min-height: 100vh;
    }
  }
}
