@use "../../../../functions.scss" as functions;

#planner-v2 {
  color: var(--accent-color);
  .goback-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;

    & > div {
      margin: 0 0.2em;
    }

    .back-card {
      padding: 0.5em;
      background-color: var(--accent-color);
      color: white;
      font-weight: 500;
        mat-icon {
        // margin-right: 0.2em;
      }
    }
  }

  .exercise {
    width: 100%;
    @include functions.flexbox(
      $flex-direction: column,
      $justify-content: center,
      $align-items: center
    );
    margin-top: 2em;

    .card-2 {
      @include functions.get-elevator(2);
      margin: 0.5em;
      padding: 0.5em 1em;
      border-radius: 8px;
      background-color: white;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;

      @include functions.flexbox(
        $flex-direction: column,
        $justify-content: space-between,
        $align-items: center
      );
    }

    .title {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      color: var(--primary-color);
      margin: 0;
    }
    .obs {
      width: 80%;
      text-align: center;
      margin: 0.5em;
      .obs-text {
        font-size: 1.2em;
        // font-weight: bold;
        margin: 0;
        margin-bottom: 0.5em;
      }
    }

    .video {
      width: 95%;
      &.card-2 {
        padding: 0;
      }
      iframe {
        aspect-ratio: 16/9;
        width: 100%;
      }
    }

    .exercise-content {
      @include functions.flexbox(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );
      width: 100%;

      .exercise-title {
        font-size: 1.8em;
        font-weight: bold;
        margin: 0;
        margin: 0.5em 0;
        color: var(--accent-color);
      }

      .basic-infos {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 240px; /* ou a altura que desejar */

        & > div {
          max-width: 50%;
        }

        .serie-rep {
          display: flex;
          flex-direction: column;
          flex: 1; /* Isto faz com que o container cresça para preencher o espaço disponível */
        }

        .card-2 {
          flex: 1; /* Isto faz com que o container cresça para preencher o espaço disponível */
          display: flex;
          flex-direction: column;
          background-color: var(--primary-color);
          color: white;

          align-items: center;
          justify-content: center;

          font-weight: bold;

          .card-value {
            font-size: 3em;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .next-prev-exercise-content {
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;

    @include functions.flexbox(
      $flex-direction: row,
      $justify-content: space-between,
      $align-items: center
    );

    .next-prev-exercise {
      flex: 1;
      margin: 0 0.5em;
      padding: 1em;
      background-color: var(--accent-color);
      color: white;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;

      @include functions.flexbox(
        $flex-direction: row,
        $justify-content: space-between,
        $align-items: center
      );

      &.hide-next-prev {
        background-color: #9e9e9e;
      }
    }
  }
}
