<section id="planner-v2">
  <!-- Header -->
  <div class="logo">
    <img src="assets/logo.png" class="logo" alt="Logo Tay Training" />
  </div>
  <div class="goback-content">
    <div class="back-card" mat-ripple (click)="goBack()">
      <mat-icon>chevron_left</mat-icon>
      <span class="info">Semanas</span>
    </div>
  </div>
  <div class="header">
    <h3>{{ planner?.publicName || "" }}</h3>
    <div></div>
  </div>

  <h3 class="about-table">
    <i>
      Essa estrutura de treinos é uma sugestão de como organiza-los durante as
      semanas.
    </i>
  </h3>

  <!-- Cards Semana -->

  <div class="cards">
    <div
      class="card week-card mat-elevation-z2"
      [class.disabled-dayoff]="item === null"
      *ngFor="let item of week; let i = index"
      (click)="goToWorkout(i)"
    >
      <div class="card-content">
        <div class="card-icon">
          <div class="card-icon-backdrop">
            <mat-icon *ngIf="item !== null"> fitness_center </mat-icon>
            <mat-icon *ngIf="item === null"> night_shelter </mat-icon>
          </div>
        </div>
        <div class="card-field">
          <h3>{{ getWeekDayName(i) }}</h3>
          <p *ngIf="item !== null">
            {{ item!.shortName || item.exerciseGroup?.publicName }}
          </p>
          <p *ngIf="item === null">Folga</p>
        </div>
        <div class="card-goto">
          <button mat-icon-button>
            <mat-icon *ngIf="item !== null"> chevron_right </mat-icon>
            <mat-icon *ngIf="item === null"> close </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
