@use "src/functions.scss" as functions;

:host {
  @include functions.flexbox($flex-direction: column, $justify-content: center);
  padding: 2em;
}

.master {
  box-sizing: border-box;
  padding: 0.5em;
  width: clamp(300px, 90%, 1100px);

  @include functions.flexbox($flex-direction: column, $justify-content: center);

  border-radius: 6px;
  $background-color: functions.get-theme-background();
  background-color: functions.adjust-color($background-color, "l", 5%);

  .header-content {
    box-sizing: border-box;
    width: 80%;
    min-width: 250px;
    padding: 0.5em 0;

    @include functions.flexbox(
      $justify-content: space-between,
      $align-items: center
    );

    .title {
      font-size: 1.5em;
      margin: 0;
      font-weight: 500;
      color: functions.get-theme-color("primary", "main-contrast");
    }
  }

  .filter-content {
    box-sizing: border-box;
    width: 80%;
    min-width: 250px;
    padding: 0.5em 0;

    @include functions.flexbox(
      $justify-content: space-between,
      $align-items: center
    );

    mat-form-field {
      width: 100%;
      min-width: 200px;
    }
  }
}
