<section id="planner-v2">
  <!-- ola vei -->

  <!-- Header -->
  <div class="logo">
    <img src="assets/logo.png" class="logo" alt="Logo Tay Training" />
  </div>
  <div class="goback-content">
    <div class="back-card" mat-ripple (click)="goBackWorkout()">
      <mat-icon>chevron_left</mat-icon>
      <span class="info">Treinos</span>
    </div>
    <div class="back-card" mat-ripple (click)="goBackWeek()">
      <mat-icon>chevron_left</mat-icon>
      <span class="info">Semanas</span>
    </div>
  </div>
  <div class="header">
    <h3>{{ planner?.publicName }}</h3>
    <h4>{{ planner?.workout?.publicName }}</h4>
    <div></div>
    <div class="divider-header">
      <div></div>
      <img src="../../../../assets/logo-only.png" alt="Logo" />
      <div></div>
    </div>
  </div>

  <!-- Cards Semana -->
  <ng-container *ngFor="let item of workout; let i = index">
    <div class="exercise-header">
      <h2 class="exercise-title">
        {{ i + 1 }}º
        {{
          item!.exerciseConfigurations!.length > 1 ? "Combinação" : "Exercício"
        }}
      </h2>
    </div>

    <div class="combine-text" *ngIf="item!.exerciseConfigurations!.length > 1">
      <p class="combine-title">Exercicio Combinado</p>
      <p>Alterne entre esses exercicios</p>

      <p class="obs" *ngIf="item.observations">
        <strong>Observações:</strong> {{ item.observations || "" }}
      </p>
    </div>
    <swiper-container
      class="slider"
      pagination="true"
      navigation="true"
      slides-per-view="auto"
      space-between="10"
      pagination-clickable="true"
      *ngIf="item!.exerciseConfigurations!.length > 1"
    >
      <swiper-slide
        class="slide"
        *ngFor="let exerciseConfig of item.exerciseConfigurations!"
      >
        <div class="slide-content">
          <div class="slide-header">
            <p class="slide-title">{{ exerciseConfig.exercise?.name }}</p>
            <div></div>
          </div>
          <div class="slide-body">
            <div class="slide-info">
              <p class="serie">
                <strong>Series:</strong> {{ exerciseConfig.series }}
              </p>
              <p class="serie">
                <strong>Método:</strong> {{ exerciseConfig.method?.name }}
              </p>
              <p class="reps">
                <strong>Repetições:</strong> {{ exerciseConfig.reps }}
              </p>
              <p class="rest"><strong>Descanso:</strong> {{ item.rest }}</p>
            </div>
            <div
              class="slide-video"
              (click)="
                openVideo(
                  exerciseConfig.exercise?.name!,
                  secIframeLink(exerciseConfig.id!).url
                )
              "
            >
              <img
                *ngIf="howToUrls.length > 0 && secIframeLink(exerciseConfig.id!)"
                [src]="secIframeLink(exerciseConfig.id!).miniature"
                alt=""
              />
              <mat-icon class="slide-video-icon" color="primary"
                >play_circle</mat-icon
              >
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div
      class="combine-text"
      *ngIf="item!.exerciseConfigurations!.length === 1"
    >
      <p class="obs" *ngIf="item.observations">
        <strong>Observações:</strong> {{ item.observations || "" }}
      </p>
    </div>
    <div
      class="one-shot-exercise"
      *ngIf="item!.exerciseConfigurations!.length === 1"
    >
      <div class="slide-content">
        <div class="slide-header">
          <p class="slide-title">
            {{ item.exerciseConfigurations![0].exercise?.name }}
          </p>
          <div></div>
        </div>
        <div class="slide-body">
          <div class="slide-info">
            <p class="reps">
              <strong>Repetições:</strong>
              {{ item.exerciseConfigurations![0].reps }}
            </p>
            <p class="serie">
              <strong>Series:</strong>
              {{ item.exerciseConfigurations![0].series }}
            </p>
            <p class="rest"><strong>Descanso:</strong> {{ item.rest }}</p>
          </div>
          <div
            class="slide-video"
            (click)="
              openVideo(
                item.exerciseConfigurations![0].exercise?.name!,
                secIframeLink(item.exerciseConfigurations![0].id!).url
              )
            "
          >
            <img
              *ngIf="howToUrls.length > 0 && secIframeLink(item.exerciseConfigurations![0].id!)"
              [src]="
                secIframeLink(item.exerciseConfigurations![0].id!).miniature
              "
              alt=""
            />
            <mat-icon class="slide-video-icon" color="primary"
              >play_circle</mat-icon
            >
          </div>
        </div>
      </div>
    </div>

    <hr class="divider" />
  </ng-container>
</section>
