@use "src/functions.scss" as functions;

.divider,
.exercise-list {
  width: 100%;
}
.spacer {
  width: 100%;
  padding: 1em 0;
}

.actions {
  width: 150px;
}

.workouts {
  padding: 0.5em !important;
  margin-bottom: 1em;
  // text-align: center;
}

.exercises-table {
  margin: 1em 0;
}

// Collapse Table

tr.exercise-detail-row {
  height: 0 !important;
}

tr.exercise-table-row:not(.example-expanded-row):active {
  // background: #efefef;
}

.exercise-table-row td {
  border-bottom-width: 0;
}

.content-exercise-details {
  overflow: hidden;
  display: flex;
}

.mat-column-expandedDetail {
  padding: 0;
}

.exercise-list {
  margin: 1.5em 0;

  .acc-item {
    @include functions.flexbox(
      $flex-direction: row,
      $justify-content: space-evenly
    );
    width: 100%;

    .action-exercise-list {
      @include functions.flexbox(
        $flex-direction: row,
        $justify-content: space-evenly
      );
      margin: 0.5em 0;
    }

    .exp-panel-exercise {
      flex: 1;
    }
  }

  .cards {
    @include functions.flexbox(
      $flex-direction: row,
      $justify-content: space-evenly,
      $flex-wrap: wrap
    );
    width: clamp(300px, 100%, 900px);

    .config {
      width: clamp(300px, 30%, 300px);
      padding: 0.5em;
      margin: 0.5em;

      &:last-child {
        border-bottom: none;
      }

      .col {
        text-align: center;
        &.subtitle {
          text-align: left;
        }
        // &.exerciseId {
        // }
        // &.methodId {
        // }
        // &.series {
        // }
        // &.reps {
        // }
        // &.rest {
        // }
      }
    }
  }
}

.example-full-width {
  textarea {
    height: 16px;
  }
}

.exercises {
  width: 100%;
  box-sizing: border-box;

  .exercise {
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 7px;
    $background-color: functions.get-theme-background();
    background-color: functions.adjust-color($background-color, "l", 7%);

    position: relative;
    .row {
      margin: 0;
    }

    .delete-edge {
      position: absolute;
      top: -2em;
      right: -2em;
      padding: 0.5em;
      cursor: pointer;
    }
  }
}

.action-btns-exercise {
  @include functions.flexbox(
    $flex-direction: row,
    $justify-content: space-evenly,
    $flex-wrap: wrap
  );
  width: 100%;

  .submit-btn {
    flex: 1;
  }
}
