<section class="master mat-elevation-z2">
  <div class="loading-shade all" *ngIf="loadingService.loading">
    <mat-spinner></mat-spinner>
  </div>

  <form class="form" #reactiveForm="ngForm">
    <div class="row">
      <div class="col">
        <!-- Nome -->
        <mat-form-field>
          <mat-label>{{ form["name"].label }}</mat-label>
          <input
            matInput
            [type]="form['name'].config.type"
            [name]="form['name'].config.name"
            [(ngModel)]="form['name'].value"
            [placeholder]="form['name'].config.placeholder"
            [disabled]="form['name'].config.disabled"
            [readonly]="form['name'].config.readonly"
            [required]="form['name'].config.required"
            [minlength]="form['name'].config.minlength"
            [maxlength]="form['name'].config.maxlength"
            [pattern]="form['name'].config.pattern"
            [email]="form['name'].config.email"
            [mask]="
              form['name'].config.mask && form['name'].config.maskConfig.mask
                ? form['name'].config.maskConfig.mask
                : null
            "
            [dropSpecialCharacters]="
              form['name'].config.mask &&
              form['name'].config.maskConfig.dropSpecialCharacters
                ? form['name'].config.maskConfig.dropSpecialCharacters
                : true
            "
            [validation]="
              form['name'].config.mask &&
              form['name'].config.maskConfig.validation
                ? form['name'].config.maskConfig.validation
                : false
            "
          />
          <mat-hint *ngIf="form['name'].config.hint">{{
            form["name"].config.hint
          }}</mat-hint>
          <mat-error *ngIf="getErrorText(form['name'])">
            {{ getErrorText(form["name"]) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <!-- Categoria do conjunto -->
        <mat-form-field appearance="fill">
          <mat-label>{{ form["setCategories"].label }}</mat-label>
          <mat-select
            [(ngModel)]="form['setCategories'].value"
            [name]="form['setCategories'].config.name"
            [placeholder]="form['setCategories'].config.placeholder"
            [disabled]="form['setCategories'].config.disabled"
            [required]="form['setCategories'].config.required"
          >
            <mat-option
              *ngFor="let item of form['setCategories'].selectOptions"
              [value]="item.value"
            >
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="form['setCategories'].config.hint">{{
            form["url"].config.hint
          }}</mat-hint>
          <mat-error *ngIf="getErrorText(form['setCategories'])">
            {{ getErrorText(form["setCategories"]) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mat-elevation-z2 workouts" *ngIf="pageCanLoad">
      <div class="col">
        <h2>Treinos</h2>

        <ng-container *ngIf="exercicies.length > 0">
          <h3>Treinos Salvos</h3>

          <table
            #tableExercisies
            mat-table
            [dataSource]="exercicies"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <!-- Normal Columns -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="countExercicies">
              <th mat-header-cell *matHeaderCellDef>Quantidade de exer.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.exerciseConfigurations.length }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element; let i = dataIndex"
                class="actions"
              >
                <button
                  mat-icon-button
                  type="button"
                  (click)="editExercise($event, i)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  type="button"
                  (click)="removeExercise($event, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- End Normal Columns -->

            <!-- Expand Column-->

            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsDisplay.length"
              >
                <div
                  class="content-exercise-details"
                  [@detailExpand]="
                    element == expandedExercise ? 'expanded' : 'collapsed'
                  "
                  [class.exepanded-details]="element == expandedExercise"
                >
                  <!-- Dados de cada uma das configs -->
                  <div class="row">
                    <div class="col rest">
                      Tempo de descanso da combinação:
                      {{ element.rest }} segundos
                    </div>
                    <div class="col methodId">
                      Método:
                      {{ getMethod(element.methodId) }}
                    </div>
                  </div>

                  <div class="cards">
                    <ng-container
                      *ngFor="
                        let exerciseConfiguration of element.exerciseConfigurations;
                        let i = index
                      "
                    >
                      <mat-card class="config">
                        <mat-card-content>
                          <div class="row">
                            <div class="col subtitle">
                              <h4>Exercicio {{ i + 1 }}</h4>
                            </div>
                          </div>
                          <div
                            class="row"
                            *ngIf="
                              allExercises.length > 0 && allMethods.length > 0
                            "
                          >
                            <div class="col exerciseId">
                              Exercicio:
                              {{
                                getExercise(exerciseConfiguration.exerciseId)
                              }}
                            </div>
                            <div class="col"></div>
                          </div>
                          <div class="row">
                            <div class="col series">
                              Séries: {{ exerciseConfiguration.series }}
                            </div>
                            <div class="col reps">
                              Repetições: {{ exerciseConfiguration.reps }}
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </ng-container>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: columnsDisplay"
              class="exercise-table-row"
              [class.example-expanded-row]="expandedExercise === element"
              (click)="
                expandedExercise = expandedExercise === element ? null : element
              "
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="exercise-detail-row"
            ></tr>
          </table>
        </ng-container>

        <h3 style="margin-top: 1em">Adicionar novo</h3>

        <!-- Exercise-method Type -->

        <div class="row">
          <div class="col">
            <!-- Treino -->
            <mat-form-field appearance="fill">
              <mat-label>{{
                exerciseMethodController["method"].label
              }}</mat-label>
              <mat-select
                [(ngModel)]="exerciseMethodController['method'].value"
                [name]="exerciseMethodController['method'].config.name"
                [placeholder]="
                  exerciseMethodController['method'].config.placeholder
                "
                [disabled]="exerciseMethodController['method'].config.disabled"
                [required]="exerciseMethodController['method'].config.required"
              >
                <mat-option
                  *ngFor="
                    let item of exerciseMethodController['method'].selectOptions
                  "
                  [value]="item.value"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="exerciseMethodController['method'].config.hint"
                >{{ exerciseMethodController["method"].config.hint }}</mat-hint
              >
              <mat-error
                *ngIf="getErrorText(exerciseMethodController['method'])"
              >
                {{ getErrorText(exerciseMethodController["method"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>{{
                exerciseMethodController["restTime"].label
              }}</mat-label>
              <input
                matInput
                [type]="exerciseMethodController['restTime'].config.type"
                [name]="exerciseMethodController['restTime'].config.name"
                [(ngModel)]="exerciseMethodController['restTime'].value"
                [placeholder]="
                  exerciseMethodController['restTime'].config.placeholder
                "
                [disabled]="
                  exerciseMethodController['restTime'].config.disabled
                "
                [readonly]="
                  exerciseMethodController['restTime'].config.readonly
                "
                [required]="
                  exerciseMethodController['restTime'].config.required
                "
                [minlength]="
                  exerciseMethodController['restTime'].config.minlength
                "
                [maxlength]="
                  exerciseMethodController['restTime'].config.maxlength
                "
                [pattern]="exerciseMethodController['restTime'].config.pattern"
                [email]="exerciseMethodController['restTime'].config.email"
              />
              <mat-hint
                *ngIf="exerciseMethodController['restTime'].config.hint"
                >{{
                  exerciseMethodController["restTime"].config.hint
                }}</mat-hint
              >
              <mat-error
                *ngIf="getErrorText(exerciseMethodController['restTime'])"
              >
                {{ getErrorText(exerciseMethodController["restTime"]) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>{{
                exerciseMethodController["observations"].label
              }}</mat-label>
              <textarea
                matInput
                [type]="exerciseMethodController['observations'].config.type"
                [name]="exerciseMethodController['observations'].config.name"
                [(ngModel)]="exerciseMethodController['observations'].value"
                [placeholder]="
                  exerciseMethodController['observations'].config.placeholder
                "
                [disabled]="
                  exerciseMethodController['observations'].config.disabled
                "
                [readonly]="
                  exerciseMethodController['observations'].config.readonly
                "
                [required]="
                  exerciseMethodController['observations'].config.required
                "
                [minlength]="
                  exerciseMethodController['observations'].config.minlength
                "
                [maxlength]="
                  exerciseMethodController['observations'].config.maxlength
                "
                [pattern]="
                  exerciseMethodController['observations'].config.pattern
                "
                [email]="exerciseMethodController['observations'].config.email"
              ></textarea>
              <mat-hint
                *ngIf="exerciseMethodController['observations'].config.hint"
                >{{
                  exerciseMethodController["observations"].config.hint
                }}</mat-hint
              >
              <mat-error
                *ngIf="getErrorText(exerciseMethodController['observations'])"
              >
                {{ getErrorText(exerciseMethodController["observations"]) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="exercises mat-elevation-z2">
          <ng-container *ngFor="let exerc of newExerciseList; let i = index">
            <h4>Configurações do Exercício {{ i + 1 }}</h4>

            <div class="row">
              <!-- One set Exercise -->
              <div class="col">
                <!-- Treino -->
                <mat-form-field appearance="fill">
                  <mat-label>{{ exerc["exercise"].label }}</mat-label>
                  <mat-select
                    [(ngModel)]="exerc['exercise'].value"
                    [name]="exerc['exercise'].config.name"
                    [placeholder]="exerc['exercise'].config.placeholder"
                    [disabled]="exerc['exercise'].config.disabled"
                    [required]="exerc['exercise'].config.required"
                  >
                    <mat-option
                      *ngFor="let item of exerc['exercise'].selectOptions"
                      [value]="item.value"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="exerc['exercise'].config.hint">{{
                    exerc["exercise"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(exerc['exercise'])">
                    {{ getErrorText(exerc["exercise"]) }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- One Set Method -->
              <div class="col"></div>
            </div>

            <div class="row">
              <!-- One Set Series -->
              <div class="col">
                <!-- Séries -->
                <mat-form-field>
                  <mat-label>{{ exerc["series"].label }}</mat-label>
                  <input
                    matInput
                    [type]="exerc['series'].config.type"
                    [name]="exerc['series'].config.name"
                    [(ngModel)]="exerc['series'].value"
                    [placeholder]="exerc['series'].config.placeholder"
                    [disabled]="exerc['series'].config.disabled"
                    [readonly]="exerc['series'].config.readonly"
                    [required]="exerc['series'].config.required"
                    [minlength]="exerc['series'].config.minlength"
                    [maxlength]="exerc['series'].config.maxlength"
                    [pattern]="exerc['series'].config.pattern"
                    [email]="exerc['series'].config.email"
                  />
                  <mat-hint *ngIf="exerc['series'].config.hint">{{
                    exerc["series"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(exerc['series'])">
                    {{ getErrorText(exerc["series"]) }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- One Set Reps -->
              <div class="col">
                <mat-form-field>
                  <mat-label>{{ exerc["repetitions"].label }}</mat-label>
                  <input
                    matInput
                    [type]="exerc['repetitions'].config.type"
                    [name]="exerc['repetitions'].config.name"
                    [(ngModel)]="exerc['repetitions'].value"
                    [placeholder]="exerc['repetitions'].config.placeholder"
                    [disabled]="exerc['repetitions'].config.disabled"
                    [readonly]="exerc['repetitions'].config.readonly"
                    [required]="exerc['repetitions'].config.required"
                    [minlength]="exerc['repetitions'].config.minlength"
                    [maxlength]="exerc['repetitions'].config.maxlength"
                    [pattern]="exerc['repetitions'].config.pattern"
                    [email]="exerc['repetitions'].config.email"
                  />
                  <mat-hint *ngIf="exerc['repetitions'].config.hint">{{
                    exerc["repetitions"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(exerc['repetitions'])">
                    {{ getErrorText(exerc["repetitions"]) }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <div class="row">
            <div class="col"></div>
            <div class="col submit-col">
              <button
                class="submit-btn"
                type="button"
                mat-raised-button
                color="accent"
                (click)="addNewExercise()"
              >
                Novo Exercicio
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col submit-col">
            <button
              class="submit-btn"
              type="button"
              mat-raised-button
              color="accent"
              (click)="addExercise()"
              [disabled]="issueValuesNewExercise() !== ''"
            >
              Salvar treino
            </button>
            <button
              mat-icon-button
              aria-label="Help Form Button"
              type="button"
              [class.show]="issueValuesNewExercise() !== ''"
              class="help-btn"
              [matTooltip]="issueValuesNewExercise()"
              matTooltipClass="multiline-tooltip"
            >
              <mat-icon>help</mat-icon>
            </button>
            <!-- [class.show]="
              !newExercise['exercise'].value ||
              !newExercise['series'].value ||
              !newExercise['sleepTime'].value ||
              !newExercise['repetitions'].value
            " -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col submit-col">
        <button
          class="submit-btn"
          type="button"
          mat-raised-button
          color="accent"
          [disabled]="issueValuesTraining() !== ''"
          (click)="onSubmit()"
        >
          Salvar
        </button>
        <button
          mat-icon-button
          aria-label="Help Form Button"
          type="button"
          class="help-btn"
          [class.show]="issueValuesTraining() !== ''"
          [matTooltip]="issueValuesTraining()"
          matTooltipClass="multiline-tooltip"
        >
          <mat-icon>help</mat-icon>
        </button>
      </div>
    </div>
  </form>
</section>
