<section class="master mat-elevation-z2">
  <div class="loading-shade all" *ngIf="loadingService.loading">
    <mat-spinner></mat-spinner>
  </div>

  <form class="form" #reactiveForm="ngForm">
    <div class="row">
      <div class="col">
        <!-- Nome -->
        <mat-form-field>
          <mat-label>{{ form["name"].label }}</mat-label>
          <input
            matInput
            [type]="form['name'].config.type"
            [name]="form['name'].config.name"
            [(ngModel)]="form['name'].value"
            [placeholder]="form['name'].config.placeholder"
            [disabled]="form['name'].config.disabled"
            [readonly]="form['name'].config.readonly"
            [required]="form['name'].config.required"
            [minlength]="form['name'].config.minlength"
            [maxlength]="form['name'].config.maxlength"
            [pattern]="form['name'].config.pattern"
            [email]="form['name'].config.email"
            [mask]="
              form['name'].config.mask && form['name'].config.maskConfig.mask
                ? form['name'].config.maskConfig.mask
                : null
            "
            [dropSpecialCharacters]="
              form['name'].config.mask &&
              form['name'].config.maskConfig.dropSpecialCharacters
                ? form['name'].config.maskConfig.dropSpecialCharacters
                : true
            "
            [validation]="
              form['name'].config.mask &&
              form['name'].config.maskConfig.validation
                ? form['name'].config.maskConfig.validation
                : false
            "
          />
          <mat-hint *ngIf="form['name'].config.hint">{{
            form["name"].config.hint
          }}</mat-hint>
          <mat-error *ngIf="getErrorText(form['name'])">
            {{ getErrorText(form["name"]) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <!-- Categoria do conjunto -->
        <mat-form-field appearance="fill">
          <mat-label>{{ form["setCategories"].label }}</mat-label>
          <mat-select
            [(ngModel)]="form['setCategories'].value"
            [name]="form['setCategories'].config.name"
            [placeholder]="form['setCategories'].config.placeholder"
            [disabled]="form['setCategories'].config.disabled"
            [required]="form['setCategories'].config.required"
          >
            <mat-option
              *ngFor="let item of form['setCategories'].selectOptions"
              [value]="item.value"
            >
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="form['setCategories'].config.hint">{{
            form["url"].config.hint
          }}</mat-hint>
          <mat-error *ngIf="getErrorText(form['setCategories'])">
            {{ getErrorText(form["setCategories"]) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mat-elevation-z2 workouts">
      <div class="col">
        <h2>Treinos</h2>

        <ng-container *ngIf="exercicies.length > 0">
          <h3>Treinos Salvos</h3>

          <table
            #tableExercisies
            mat-table
            [dataSource]="exercicies"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <!-- Normal Columns -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Tipo</th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <ng-container matColumnDef="countExercicies">
              <th mat-header-cell *matHeaderCellDef>Quantidade de exer.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.exerciseConfigurations.length }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element; let i = dataIndex"
                class="actions"
              >
                <button
                  mat-icon-button
                  type="button"
                  (click)="editExercise($event, i)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  type="button"
                  (click)="removeExercise($event, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- End Normal Columns -->

            <!-- Expand Column-->

            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsDisplay.length"
              >
                <div
                  class="content-exercise-details"
                  [@detailExpand]="
                    element == expandedExercise ? 'expanded' : 'collapsed'
                  "
                  [class.exepanded-details]="element == expandedExercise"
                >
                  <!-- Dados de cada uma das configs -->
                  <div class="row">
                    <div class="col rest">
                      Tempo de descanso da combinação:
                      {{ element.rest }} segundos
                    </div>
                  </div>

                  <div class="cards">
                    <ng-container
                      *ngFor="
                        let exerciseConfiguration of element.exerciseConfigurations;
                        let i = index
                      "
                    >
                      <mat-card class="config">
                        <mat-card-content>
                          <div class="row">
                            <div class="col subtitle">
                              <h4>Exercicio {{ i + 1 }}</h4>
                            </div>
                          </div>
                          <div
                            class="row"
                            *ngIf="
                              allExercises.length > 0 && allMethods.length > 0
                            "
                          >
                            <div class="col exerciseId">
                              Exercicio:
                              {{
                                getExercise(exerciseConfiguration.exerciseId)
                              }}
                            </div>
                            <div class="col methodId">
                              Método:
                              {{ getMethod(exerciseConfiguration.methodId) }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col series">
                              Séries: {{ exerciseConfiguration.series }}
                            </div>
                            <div class="col reps">
                              Repetições: {{ exerciseConfiguration.reps }}
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </ng-container>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: columnsDisplay"
              class="exercise-table-row"
              [class.example-expanded-row]="expandedExercise === element"
              (click)="
                expandedExercise = expandedExercise === element ? null : element
              "
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="exercise-detail-row"
            ></tr>
          </table>
        </ng-container>

        <h3 style="margin-top: 1em">Adicionar novo</h3>

        <!-- Exercise-method Type -->

        <div class="row">
          <div class="col">
            <span>
              {{ exerciseMethodController["manyExercises"].label }}
            </span>
            <mat-radio-group
              [(ngModel)]="exerciseMethodController['manyExercises'].value"
              [name]="exerciseMethodController['manyExercises'].config.name"
            >
              <mat-radio-button
                *ngFor="let item of typeExercise"
                [value]="item.value"
              >
                {{ item.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>{{
                exerciseMethodController["restTime"].label
              }}</mat-label>
              <input
                matInput
                [type]="exerciseMethodController['restTime'].config.type"
                [name]="exerciseMethodController['restTime'].config.name"
                [(ngModel)]="exerciseMethodController['restTime'].value"
                [placeholder]="
                  exerciseMethodController['restTime'].config.placeholder
                "
                [disabled]="
                  exerciseMethodController['restTime'].config.disabled
                "
                [readonly]="
                  exerciseMethodController['restTime'].config.readonly
                "
                [required]="
                  exerciseMethodController['restTime'].config.required
                "
                [minlength]="
                  exerciseMethodController['restTime'].config.minlength
                "
                [maxlength]="
                  exerciseMethodController['restTime'].config.maxlength
                "
                [pattern]="exerciseMethodController['restTime'].config.pattern"
                [email]="exerciseMethodController['restTime'].config.email"
              />
              <mat-hint
                *ngIf="exerciseMethodController['restTime'].config.hint"
                >{{
                  exerciseMethodController["restTime"].config.hint
                }}</mat-hint
              >
              <mat-error
                *ngIf="getErrorText(exerciseMethodController['restTime'])"
              >
                {{ getErrorText(exerciseMethodController["restTime"]) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Exercise One Set -->
        <ng-container>
          <h4
            *ngIf="exerciseMethodController['manyExercises'].value !== 'ONESET'"
          >
            Configurações do Exercício 1
          </h4>

          <div class="row">
            <!-- One set Exercise -->
            <div class="col">
              <!-- Treino -->
              <mat-form-field appearance="fill">
                <mat-label>{{ oneSetExercise["exercise"].label }}</mat-label>
                <mat-select
                  [(ngModel)]="oneSetExercise['exercise'].value"
                  [name]="oneSetExercise['exercise'].config.name"
                  [placeholder]="oneSetExercise['exercise'].config.placeholder"
                  [disabled]="oneSetExercise['exercise'].config.disabled"
                  [required]="oneSetExercise['exercise'].config.required"
                >
                  <mat-option
                    *ngFor="
                      let item of oneSetExercise['exercise'].selectOptions
                    "
                    [value]="item.value"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="oneSetExercise['exercise'].config.hint">{{
                  oneSetExercise["exercise"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(oneSetExercise['exercise'])">
                  {{ getErrorText(oneSetExercise["exercise"]) }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- One Set Method -->
            <div class="col">
              <!-- Método de treino* -->
              <ng-container *ngIf="oneSetExercise.method">
                <mat-form-field appearance="fill">
                  <mat-label>{{ oneSetExercise["method"].label }}</mat-label>
                  <mat-select
                    [(ngModel)]="oneSetExercise['method'].value"
                    [name]="oneSetExercise['method'].config.name"
                    [placeholder]="oneSetExercise['method'].config.placeholder"
                    [disabled]="oneSetExercise['method'].config.disabled"
                    [required]="oneSetExercise['method'].config.required"
                  >
                    <mat-option
                      *ngFor="
                        let item of oneSetExercise['method'].selectOptions
                      "
                      [value]="item.value"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="oneSetExercise['method'].config.hint">{{
                    oneSetExercise["method"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(oneSetExercise['method'])">
                    {{ getErrorText(oneSetExercise["method"]) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <!-- One Set Series -->
            <div class="col">
              <!-- Séries -->
              <mat-form-field>
                <mat-label>{{ oneSetExercise["series"].label }}</mat-label>
                <input
                  matInput
                  [name]="oneSetExercise['series'].config.name"
                  [type]="oneSetExercise['series'].config.type"
                  [(ngModel)]="oneSetExercise['series'].value"
                  [placeholder]="oneSetExercise['series'].config.placeholder"
                  [disabled]="oneSetExercise['series'].config.disabled"
                  [readonly]="oneSetExercise['series'].config.readonly"
                />
                <mat-hint *ngIf="oneSetExercise['series'].config.hint">{{
                  oneSetExercise["series"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(oneSetExercise['series'])">
                  {{ getErrorText(oneSetExercise["series"]) }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- One Set Reps -->
            <div class="col">
              <mat-form-field>
                <mat-label>{{ oneSetExercise["repetitions"].label }}</mat-label>
                <input
                  matInput
                  [type]="oneSetExercise['repetitions'].config.type"
                  [name]="oneSetExercise['repetitions'].config.name"
                  [(ngModel)]="oneSetExercise['repetitions'].value"
                  [placeholder]="
                    oneSetExercise['repetitions'].config.placeholder
                  "
                  [disabled]="oneSetExercise['repetitions'].config.disabled"
                  [readonly]="oneSetExercise['repetitions'].config.readonly"
                  [required]="oneSetExercise['repetitions'].config.required"
                  [minlength]="oneSetExercise['repetitions'].config.minlength"
                  [maxlength]="oneSetExercise['repetitions'].config.maxlength"
                  [pattern]="oneSetExercise['repetitions'].config.pattern"
                  [email]="oneSetExercise['repetitions'].config.email"
                />
                <mat-hint *ngIf="oneSetExercise['repetitions'].config.hint">{{
                  oneSetExercise["repetitions"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(oneSetExercise['repetitions'])">
                  {{ getErrorText(oneSetExercise["repetitions"]) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <!-- Exercise Bi Set -->
        <ng-container
          *ngIf="exerciseMethodController.manyExercises.value !== 'ONESET'"
        >
          <h4>Configurações do Exercício 2</h4>
          <div class="row">
            <!-- One set Exercise -->
            <div class="col">
              <!-- Treino -->
              <mat-form-field appearance="fill">
                <mat-label>{{ biSetExercise["exercise"].label }}</mat-label>
                <mat-select
                  [(ngModel)]="biSetExercise['exercise'].value"
                  [name]="biSetExercise['exercise'].config.name"
                  [placeholder]="biSetExercise['exercise'].config.placeholder"
                  [disabled]="biSetExercise['exercise'].config.disabled"
                  [required]="biSetExercise['exercise'].config.required"
                >
                  <mat-option
                    *ngFor="let item of biSetExercise['exercise'].selectOptions"
                    [value]="item.value"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="biSetExercise['exercise'].config.hint">{{
                  biSetExercise["exercise"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(biSetExercise['exercise'])">
                  {{ getErrorText(biSetExercise["exercise"]) }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- One Set Method -->
            <div class="col">
              <!-- Método de treino* -->
              <ng-container *ngIf="biSetExercise.method">
                <mat-form-field appearance="fill">
                  <mat-label>{{ biSetExercise["method"].label }}</mat-label>
                  <mat-select
                    [(ngModel)]="biSetExercise['method'].value"
                    [name]="biSetExercise['method'].config.name"
                    [placeholder]="biSetExercise['method'].config.placeholder"
                    [disabled]="biSetExercise['method'].config.disabled"
                    [required]="biSetExercise['method'].config.required"
                  >
                    <mat-option
                      *ngFor="let item of biSetExercise['method'].selectOptions"
                      [value]="item.value"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="biSetExercise['method'].config.hint">{{
                    biSetExercise["method"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(biSetExercise['method'])">
                    {{ getErrorText(biSetExercise["method"]) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <!-- One Set Series -->
            <div class="col">
              <!-- Séries -->
              <mat-form-field>
                <mat-label>{{ biSetExercise["series"].label }}</mat-label>
                <input
                  matInput
                  [name]="biSetExercise['series'].config.name"
                  [type]="biSetExercise['series'].config.type"
                  [(ngModel)]="biSetExercise['series'].value"
                  [placeholder]="biSetExercise['series'].config.placeholder"
                  [disabled]="biSetExercise['series'].config.disabled"
                  [readonly]="biSetExercise['series'].config.readonly"
                />
                <mat-hint *ngIf="biSetExercise['series'].config.hint">{{
                  biSetExercise["series"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(biSetExercise['series'])">
                  {{ getErrorText(biSetExercise["series"]) }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- One Set Reps -->
            <div class="col">
              <!-- Tempo de descanso -->
              <mat-form-field>
                <mat-label>{{ biSetExercise["repetitions"].label }}</mat-label>
                <input
                  matInput
                  [type]="biSetExercise['repetitions'].config.type"
                  [name]="biSetExercise['repetitions'].config.name"
                  [(ngModel)]="biSetExercise['repetitions'].value"
                  [placeholder]="
                    biSetExercise['repetitions'].config.placeholder
                  "
                  [disabled]="biSetExercise['repetitions'].config.disabled"
                  [readonly]="biSetExercise['repetitions'].config.readonly"
                  [required]="biSetExercise['repetitions'].config.required"
                  [minlength]="biSetExercise['repetitions'].config.minlength"
                  [maxlength]="biSetExercise['repetitions'].config.maxlength"
                  [pattern]="biSetExercise['repetitions'].config.pattern"
                  [email]="biSetExercise['repetitions'].config.email"
                />
                <mat-hint *ngIf="biSetExercise['repetitions'].config.hint">{{
                  biSetExercise["repetitions"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(biSetExercise['repetitions'])">
                  {{ getErrorText(biSetExercise["repetitions"]) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <!-- Exercise Tri Set -->
        <ng-container
          *ngIf="exerciseMethodController.manyExercises.value === 'TRISET'"
        >
          <h4>Configurações do Exercício 3</h4>
          <div class="row">
            <!-- One set Exercise -->
            <div class="col">
              <!-- Treino -->
              <mat-form-field appearance="fill">
                <mat-label>{{ triSetExercise["exercise"].label }}</mat-label>
                <mat-select
                  [(ngModel)]="triSetExercise['exercise'].value"
                  [name]="triSetExercise['exercise'].config.name"
                  [placeholder]="triSetExercise['exercise'].config.placeholder"
                  [disabled]="triSetExercise['exercise'].config.disabled"
                  [required]="triSetExercise['exercise'].config.required"
                >
                  <mat-option
                    *ngFor="
                      let item of triSetExercise['exercise'].selectOptions
                    "
                    [value]="item.value"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="triSetExercise['exercise'].config.hint">{{
                  triSetExercise["exercise"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(triSetExercise['exercise'])">
                  {{ getErrorText(triSetExercise["exercise"]) }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- One Set Method -->
            <div class="col">
              <!-- Método de treino* -->
              <ng-container *ngIf="triSetExercise.method">
                <mat-form-field appearance="fill">
                  <mat-label>{{ triSetExercise["method"].label }}</mat-label>
                  <mat-select
                    [(ngModel)]="triSetExercise['method'].value"
                    [name]="triSetExercise['method'].config.name"
                    [placeholder]="triSetExercise['method'].config.placeholder"
                    [disabled]="triSetExercise['method'].config.disabled"
                    [required]="triSetExercise['method'].config.required"
                  >
                    <mat-option
                      *ngFor="
                        let item of triSetExercise['method'].selectOptions
                      "
                      [value]="item.value"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="triSetExercise['method'].config.hint">{{
                    triSetExercise["method"].config.hint
                  }}</mat-hint>
                  <mat-error *ngIf="getErrorText(triSetExercise['method'])">
                    {{ getErrorText(triSetExercise["method"]) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <!-- One Set Series -->
            <div class="col">
              <!-- Séries -->
              <mat-form-field>
                <mat-label>{{ triSetExercise["series"].label }}</mat-label>
                <input
                  matInput
                  [name]="triSetExercise['series'].config.name"
                  [type]="triSetExercise['series'].config.type"
                  [(ngModel)]="triSetExercise['series'].value"
                  [placeholder]="triSetExercise['series'].config.placeholder"
                  [disabled]="triSetExercise['series'].config.disabled"
                  [readonly]="triSetExercise['series'].config.readonly"
                />
                <mat-hint *ngIf="triSetExercise['series'].config.hint">{{
                  triSetExercise["series"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(triSetExercise['series'])">
                  {{ getErrorText(triSetExercise["series"]) }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- One Set Reps -->
            <div class="col">
              <!-- Tempo de descanso -->
              <mat-form-field>
                <mat-label>{{ triSetExercise["repetitions"].label }}</mat-label>
                <input
                  matInput
                  [type]="triSetExercise['repetitions'].config.type"
                  [name]="triSetExercise['repetitions'].config.name"
                  [(ngModel)]="triSetExercise['repetitions'].value"
                  [placeholder]="
                    triSetExercise['repetitions'].config.placeholder
                  "
                  [disabled]="triSetExercise['repetitions'].config.disabled"
                  [readonly]="triSetExercise['repetitions'].config.readonly"
                  [required]="triSetExercise['repetitions'].config.required"
                  [minlength]="triSetExercise['repetitions'].config.minlength"
                  [maxlength]="triSetExercise['repetitions'].config.maxlength"
                  [pattern]="triSetExercise['repetitions'].config.pattern"
                  [email]="triSetExercise['repetitions'].config.email"
                />
                <mat-hint *ngIf="triSetExercise['repetitions'].config.hint">{{
                  triSetExercise["repetitions"].config.hint
                }}</mat-hint>
                <mat-error *ngIf="getErrorText(triSetExercise['repetitions'])">
                  {{ getErrorText(triSetExercise["repetitions"]) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="col"></div>
          <div class="col submit-col">
            <button
              class="submit-btn"
              type="button"
              mat-raised-button
              color="accent"
              (click)="addExercise()"
            >
              Salvar treino
            </button>
            <!-- [disabled]="
              !newExercise['exercise'].value ||
              !newExercise['series'].value ||
              !newExercise['sleepTime'].value ||
              !newExercise['repetitions'].value
            " -->
            <button
              mat-icon-button
              aria-label="Help Form Button"
              type="button"
              class="help-btn"
              [matTooltip]="issueValuesNewExercise()"
              matTooltipClass="multiline-tooltip"
            >
              <mat-icon>help</mat-icon>
            </button>
            <!-- [class.show]="
              !newExercise['exercise'].value ||
              !newExercise['series'].value ||
              !newExercise['sleepTime'].value ||
              !newExercise['repetitions'].value
            " -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col submit-col">
        <button
          class="submit-btn"
          type="button"
          mat-raised-button
          color="accent"
          [disabled]="reactiveForm.invalid"
          (click)="onSubmit()"
        >
          Salvar
        </button>
        <button
          mat-icon-button
          aria-label="Help Form Button"
          type="button"
          class="help-btn"
          [class.show]="reactiveForm.invalid"
          [matTooltip]="issueValues()"
          matTooltipClass="multiline-tooltip"
        >
          <mat-icon>help</mat-icon>
        </button>
      </div>
    </div>
  </form>
</section>
